{% extends "layout.html" %}
{% block body %}

<h1>User Login</h1>
<table border = 1>
    <tr>
        <th>ID</th>
        <th>Log In</th>
        <th>Log Out</th>
    </tr>

    {% for row in user_login %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<br>

<h1>Guest Login</h1>
<table border = 1>
    <tr>
        <th>ID</th>
        <th>Log In</th>
        <th>Log Out</th>
    </tr>

    {% for row in guest_login %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}