{% extends "layout.html" %}
{% block body %}
<a href="{{url_for('index')}}">BACK TO LOGIN</a>

<h1 class="title is-1">Update user info</h1>
<table border=1>
    <tr>
        <td>License</td>
        <td>Member ID</td>
        <td>Full name</td>
        <td>Email</td>
        <td>Password</td>
    </tr>
    {% for row in ausers %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
        </tr>
    {% endfor %}
</table>
<form method = "post">
    <p>Enter ID:</p>
    <p><input type = "text" name = "uid" /></p>
    <p>Enter Password:</p>
    <p><input type = "password" name = "upass" /></p>
    <p>Enter Email:</p>
    <p><input type = "text" name = "uemail" /></p>
    <p>Enter License:</p>
    <p><input type = "text" name = "ulicense" /></p>
    <p>Enter Name:</p>
    <p><input type = "text" name = "uname" /></p>
    <p><input type = "submit" value = "submit" /></p>
 </form>
<h1 class="title is-1">Monthly Revenue</h1>
{% for key, value in abuildings.items() %}
    <h3 class="title is-3">{{key}}</h3>
    <table>
        <tr>
            <td title is-3>Registered</td>
            <td title is-3>Unregistered</td>
        </tr>
        <tr>
            <td>
                <table border = 1>
                    <tr>
                        <td>Month</td>
                        <td>Income</td>
                    </tr>
                    {% for row,row2 in value['r'].items() %}
                    <tr>
                        <td>{{row}}</td>
                        <td>${{row2}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table border = 1>
                    <tr>
                        <td>Month</td>
                        <td>Income</td>
                    </tr>
                    {% for row,row2 in value['u'].items() %}
                    <tr>
                        <td>{{row}}</td>
                        <td>${{row2}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
{% endfor %}

<h1 class="title is-1">Weekly Available Spots</h1>
<h2>Sunday: {{ days[0]}}</h2>
<h2>Monday: {{ days[1]}}</h2>
<h2>Tuesday: {{ days[2]}}</h2>
<h2>Wednesday: {{ days[3]}}</h2>
<h2>Thursday: {{ days[4]}}</h2>
<h2>Friday: {{ days[5]}}</h2>
<h2>Saturday: {{ days[6]}}</h2>
<br>
<br>

<h1>User Login</h1>
<table border = 1>
    <tr>
        <th>ID</th>
        <th>Log In</th>
        <th>Log Out</th>
    </tr>

    {% for row in user_login %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<br>

<h1>Guest Login</h1>
<table border = 1>
    <tr>
        <th>ID</th>
        <th>Log In</th>
        <th>Log Out</th>
    </tr>

    {% for row in guest_login %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}