{% extends "layout.html" %}
{% block body %}
   <center>
      <h1 class="title is-1">Parking</h1>
      <form action = "http://localhost:5000/" method = "post">
         <p>Enter ID:</p>
         <p><input type = "text" name = "nm" /></p>
         <p>Enter Password:</p>
         <p><input type = "text" name = "pass" /></p>
            <input type="radio" id="registered" name="userType" value="registered">
            <label for="registered">Registered</label><br>
            <input type="radio" id="unregistered" name="userType" value="unregistered">
            <label for="unregistered">Unregistered</label><br>
            <input type="radio" id="admin" name="userType" value="admin">
            <label for="registered">Admin</label><br>
            <input type="radio" id="staff" name="userType" value="staff">
            <label for="unregistered">Staff</label><br>
         <p><input type = "submit" value = "submit" /></p>
         <a href="{{url_for('registration')}}">Register</a>
      </form>
   </center>
{% endblock %}