{% extends "layout.html" %}
{% block body %}
<h1>Open spots</h1>
<table border=1>
    <tr>
        <th>Lot number</th>
        <th>Spot number</th>
        <th>Building name</th>
    </tr>
    {% for n in result %}
    <tr>
        <td> {{ n[0] }} </td>
        <td> {{ n[1] }} </td>
        <td> {{ n[2] }} </td>
    </tr>
    {% endfor %}
</table>
<h1>Create Reservations</h1>
<form action={{url_for('nonmember')}} method="post">
    <label for="building">Choose a building:</label>
    <select id="building" name="building">
        {% for n in availbuildings %}
            <option value={{n[0]}}>{{n[0]}}</option>
        {% endfor %}
    </select>
    </br>
        <label for="date">Choose a date YYYY-MM-DD:</label>
        <input type="text" id="date" name="date">
    </br>
        <label for="time">Choose a time HH:MM:SS:</label>
        <input type="text" id="time" name="time">
    </br>
        <label for="spot">Choose a Spot number:</label>
        <input type="text" id="spot" name="spot">
    </br>
        <label for="lot">Choose a Lot number:</label>
        <input type="text" id="lot" name="lot">
    </br>
        <input type = "submit" value = "submit" /></p>
</form>
{% endblock %}