{% extends "layout.html" %}
{% block body %}
<a href="{{url_for('index')}}">BACK TO LOGIN</a>
<a href="{{url_for('delete')}}">Delete reservation</a>
<h2>Staff</h2>
<h1 class="title is-1">Update user info</h1>
<table border=1>
    <tr>
        <td>License</td>
        <td>Member ID</td>
        <td>Full name</td>
        <td>Email</td>
        <td>Password</td>
    </tr>
    {% for row in users %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
        </tr>
    {% endfor %}
</table>
<form method = "post" action="">
    <p>Enter ID:</p>
    <p><input type = "text" name = "uid" /></p>
    <p>Enter Password:</p>
    <p><input type = "password" name = "upass" /></p>
    <p>Enter Email:</p>
    <p><input type = "text" name = "uemail" /></p>
    <p>Enter License:</p>
    <p><input type = "text" name = "ulicense" /></p>
    <p>Enter Name:</p>
    <p><input type = "text" name = "uname" /></p>
    <input type = "submit" value = "submit" name="action" value="Update"/></p>
 </form>

 <a href="{{url_for('create')}}">CREATE REGISTRATION</a>
{% endblock %}